services:
  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: music_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: parol123
    ports:
      - "5432:5432"
    volumes:
      - pg_:/var/lib/postgresql/data

volumes:
  pg_: